<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.quanlysach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.dell.quanlysach.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.dell.quanlysach.ui.MainActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.NguoidungActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.MainActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.ThemNguoiDungActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.NguoidungActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.DoiMatKhauActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.NguoidungActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.TheLoaiActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.MainActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.ThemTheLoaiActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.TheLoaiActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.SachActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.MainActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.ThemSachActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.SachActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.HoaDonActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.MainActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.ThemHoaDonActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.HoaDonActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.ThongKeActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.MainActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.SachBanChayActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.MainActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.ChiTietNguoiDungActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.NguoidungActivity" />
        <activity
            android:name="com.example.dell.quanlysach.ui.ChiTietTheLoaiActivity"
            android:parentActivityName="com.example.dell.quanlysach.ui.TheLoaiActivity" />
        <activity android:name="com.example.dell.quanlysach.ui.ChiTietSachActivity"></activity>
    </application>

</manifest>